<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>

        <servlet-name>HelloFormServlet</servlet-name>
        <servlet-class>org.wcs.hello.HelloFormServlet</servlet-class>

<!--        <jsp-file>/hello-form.jsp</jsp-file>-->

    </servlet>
    
    <servlet>
        <servlet-name>SimpleHelloServlet</servlet-name>
        <servlet-class>org.wcs.hello.SimpleHelloServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SimpleHelloServlet</servlet-name>
        <url-pattern>/simple-hello</url-pattern>
    </servlet-mapping>

    <servlet-mapping>

        <servlet-name>HelloFormServlet</servlet-name>
        <url-pattern>/hello-form</url-pattern>

    </servlet-mapping>
</web-app>

